# Copyright (c) 2024 Keychron
# SPDX-License-Identifier: MIT



config SHIELD_KEYCHRON_B1
    bool    

config SHIELD_KEYCHRON_B1_ISO_ERGOL
    def_bool $(shields_list_contains,keychron_b1_ISO_ergol)
    select SHIELD_KEYCHRON_B1



